<head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
				
</head>


<!-- Example row of columns -->
      <% @posts.each do |post| %>
      <div class="row">
        <div class="span4">
          <h2><%=post.title %></h2>
          <p><%=post.body %></p>
          <p><%= render post.comments %>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <% end %>
      </div>
    

