<head>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
				
</head>

<h1>Ahoy, Matey!</h1>

<ul><% @posts.each do |p| %>
  <li><%=p.title %>
  <%=p.body %></li>
  
<% end %>
</ul>
<%= link_to "New Post", new_post_path %>