/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body { padding-top: 60px;
       background: url(/HTN/app/assets/images/sneaker_mesh_fabric.png) repeat 0 0;
}

h1.headline { font-family: 'PT Sans Narrow', sans-serif; text-shadow: 1px 1px 1px #ccc;
}

h2.headline { font-family: 'PT Sans Narrow', sans-serif; text-shadow: 1px 1px 1px #ccc;
}

h1.headline a { color: black;} 
h2.headline a { color: black;} 
h2.subheadline { font-family: 'PT Sans', sans-serif; }

p { font-family: 'PT Serif', serif; font-weight: 575; }

div.ellipsis { }

hr {
    font-family: 'PT Sans Narrow', sans-serif; 
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    border: 5px none;
    height: 2px;
    margin: 12px auto 8px;
    width: 60px;
}

.posts {
    padding: 5px;
    margin-bottom: 20px;

}

.preview img {
	width: 2px;
}

.article {
	width: 32%;
}
#footer-spacer {
    height: 36px;
}

img.floatLeft { 
    float: left; 
    margin: 4px; 
}

footer { 
	
    height: 120px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;



} 
.sub_twit div { padding-left: 20px;  0 50% no-repeat; } 

#footer{
    height:130px;
    }
#center_footer{
    background:#000;
    height: 130px;
    width: 100%;
    margin:0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
#left_footer,#right_footer {
    width:450px;
    padding:20px;
    float:left;
    }
#left_footer b{
    color:#fff;
    }
#left_footer li{
    float:left;
    margin:0 20px;
    }
#left_footer img{
    width:60px;
    height:60px;
    }
#right_footer{
    float:right;
    }
#right_footer a{ 
    color:#aaa;
    padding:0 10px;
    line-height: 21px;
    font-size: 13px;
    font-weight:bold;
    }
#footer span{
    color:#ccc;
    font-size: 13px;
    margin-left: 150px;
    }